.LoginButton {
  height: 32px;
  padding: 0 15px;
  border: none;
  border-radius: 20px;
  color: var(--reversed-text-color);
  background-color: var(--reversed-body-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 767px) {
  .LoginButton {
    margin: auto 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .LoginButton {
    margin: auto 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .LoginButton {
    display: none;
  }
}

@media (min-width: 1200px) {
  .LoginButton {
    display: none;
  }
}
