@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {

  .MainCategory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .Link {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    height: 40px;
    padding: auto 0;
    font-weight: 500;
    transition-duration: var(--fast-transition-duration);
  }

  .ArrowBox {
    width: 40px;
    height: 40px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-width: 3;
    transition-duration: var(--basic-transition-duration);
    cursor: pointer;
  }

  .MainCategory:hover {
    box-shadow: -2px 12px 8px -12px var(--bottom-shadow-color);
  }
}
