.Header {
  width: var(--header-width);
  height: var(--header-height);
  display: flex;
  background-color: var(--header-background-color);
  box-shadow: 0 0 16px var(--header-shadow-color);
  transition-duration: var(--basic-transition-duration);
  z-index: 100;
}

.Profile {
  display: flex;
  transition-duration: var(--basic-transition-duration);
}

.OwnerName, .Bio {
  word-wrap: break-word;
}

.Settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .Header {
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .Profile {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .Description {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .Header {
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }

  .Profile {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .Description {
    display: none;
  }
}

@media (min-width: 1200px) {
  .Header {
    position: fixed;
    padding: 50px 0 150px;
    flex-direction: column;
    overflow-y: scroll;
  }
  
  .Profile {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Description {
    width: 200px;
    margin-top: 30px;
  }

  .Settings {
    position: absolute;
    top: 20px;
    left: 20px;
    transition-duration: var(--fast-transition-duration);
  }

  .Settings * {
    display: block;
  }
  
  .Settings:hover {
    scale: 1.2;
    animation: rotate_icon 3s linear infinite;
  }

  @keyframes rotate_icon {
    100% {
      transform: rotate(360deg);
    }
  }
}
