.Header {
  width: var(--header-width);
  height: var(--header-height);
  display: flex;
  background-color: var(--header-background-color);
  box-shadow: 4px 4px 4px var(--header-shadow-color);
  transition-duration: var(--basic-transition-duration);
  z-index: 100;
}

.Profile {
  display: flex;
  transition-duration: var(--basic-transition-duration);
}

.OwnerName, .Bio {
  word-wrap: break-word;
}

@media (max-width: 767px) {
  .Header {
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .Profile {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .Description {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .Header {
    position: sticky;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }

  .Profile {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .Description {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .Header {
    position: fixed;
    flex-direction: column;
  }
  
  .Profile {
    width: 100%;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Description {
    width: 200px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .Header {
    position: fixed;
    padding: 50px 0;
    flex-direction: column;
  }
  
  .Profile {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Description {
    width: 200px;
    margin-top: 30px;
  }
}

