.NavigationBar {
  width: calc(100% - var(--header-width) - 10vw);
  height: var(--navigation-bar-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: calc(5vw + var(--header-width));
  background-color: var(--navigation-bar-color);
  border-radius: 5px;
  transition-duration: var(--basic-transition-duration);
}

.Cols {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}