.Aside {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2vw;
}

.Items {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}